.theme-dark, .hero {
  --col-text: var(--col-text-light);
}

.theme-light {
  --col-text: var(--col-text-dark);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--col-primary);
}
.hero .btn {
  background-color: var(--col-alt);
  padding: var(--s3) var(--s5);
}

.pad-contents {
  --padding: var(--s4);
  padding: var(--padding);
  margin: auto;
  width: 100%;
  max-width: calc(960px + (var(--padding) * 2));
}

.sub-tier-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-grow: 0;
  flex-basis: 0px;
  flex-shrink: 0;
}

.sub-tier-card {
  position: relative;
  border: 2px solid var(--col-primary);
  border-radius: var(--s3);
  padding: var(--s3);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  overflow: hidden;
}
.sub-tier-card > div:nth-child(2) {
  display: grid;
  justify-items: center;
}
.sub-tier-card.highlight::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: var(--s3);
  background-color: var(--col-alt);
}
.sub-tier-card .perk-list {
  font-size: 0.8em;
  padding-left: 1em;
}
.sub-tier-card .title {
  font-size: 1.414em;
  text-align: center;
}
.sub-tier-card .price {
  text-align: center;
}
.sub-tier-card .subscribe-button {
  padding: var(--s2);
  width: 100%;
  text-align: center;
}
.sub-tier-card .pay-monthly {
  text-align: center;
}

@media screen and (min-width: 780px) {
  .pad-contents {
    --padding: var(--s6);
  }

  .sub-tier-cards {
    flex-direction: row;
  }

  .sub-tier-card {
    margin-top: var(--s5);
    width: 256px;
  }
  .sub-tier-card.highlight {
    margin-top: 0;
  }
}
